 <main>

 　<% if @book.errors.any? %>
    <p><%= @book.errors.count %>errors prohibited this book from being saved:</p>
      <% @book.errors.full_messages.each do |message| %>
      <p>・<%= message %></p>
      <% end %>
   <% end %>

   <p id="notice"></p>
     <div class='container px-5 px-sm-0'>
      <div class='row'>
        
        <div class='col-md-3'>
        <%= render 'books/list', user: @user, book: @book %>
        </div>
      
　　　  <div class='col-md-8'>
        <%= render 'books/postlist', books: @books %>
        </div>
       

        </div>
      </div>
  </main>